<mat-card>
    
    <mat-card-title>Alterar Usuário</mat-card-title>
    
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="usuario.nome" name="nome">
        </mat-form-field>  
        <mat-form-field>
            <input matInput placeholder="CPF" [(ngModel)]="usuario.cpf" name="cpf">
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="usuario.email" name="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [(ngModel)]="usuario.telefone" name="telefone">
        </mat-form-field>   
        <mat-form-field>
            <input matInput placeholder="Senha" [(ngModel)]="usuario.senha" type="password" name="senha">
        </mat-form-field>   
    </form>

<button mat-raised-button (click)="updateUsuario()" color="warn">
    Alterar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>

</mat-card>